body {
    margin: 0;
    background-color: rgb(197, 150, 241);
}

@media (max-width: 600px) {
    body {
        background-color: rgb(151, 121, 181);
    }
}
@media (max-width: 500px) {
    body {
        background-color: rgb(115, 88, 141);
    }
}
@media (max-width: 400px) {
    body {
        background-color: rgb(70, 53, 86);
    }
}
